@page "/FirstTime"
@rendermode InteractiveServer
@using BulldogUI.Client.Layout
@using Shared.IServices
@using Shared.Services
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject IEmailService EmailService
<div class="ma-6 d-flex justify-content-center">
    <MudCard Width="400px" Height="550px" Elevation="1">
        <MudCardMedia Image="Images/Razownlogo.png" Height="300" />
        <MudCardContent>
            <MudText Typo="Typo.h5" Class="text-center">Utwórz swój profil w Razown</MudText>
            <MudText Typo="Typo.body2" Class="text-center mt-3">Korzystasz z Razown po raz pierwszy?</MudText>
            <MudText Typo="Typo.body2" Class="text-center mt-2">Pomożemy ci przejść przez profil zakładania konta.</MudText>
        </MudCardContent>
        <MudCardActions Class="justify-content-center mt-3">
            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" Style="width:370px" OnClick="Submit">DALEJ</MudButton>
        </MudCardActions>
    </MudCard>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
       
    }
    private async Task Submit()
    {
        NavigationManager.NavigateTo("/registerowner");
    }
}
