@page "/availability/{ServiceId:guid}/{EmployeeId:guid}"
@using Bulldog.Core.Domain
@using Bulldog.Infrastructure.Services.DTO
@using BulldogApiFrontend.Services
@inject IServiceApiService ServiceApiService

<div class="rz-p-12 rz-text-align-center">
    <RadzenDatePicker @bind-Value=@selectedDate Inline="true" DateRender="OnDateRender" />
</div>

@if (selectedDate != null)
{
    <h3>Available Hours for @selectedDate.Value.Date.ToString("dd.MM.yyyy")</h3>
    <div>
        @if (selectedDateHour != null)
        {
            <span>Selected Hour: @selectedDateHour.Value.ToString("HH:mm")</span>
        }
    </div>
    @if (availableDates.Any(ad => ad.DayOfWeek == selectedDate.Value.DayOfWeek))
    {
        var availableDate = availableDates
            .Where(ad => ad.DayOfWeek == selectedDate.Value.DayOfWeek)
            .FirstOrDefault();
        // Assuming there's only one set of working hours per day

        if (availableDate != null)
        {
            Console.WriteLine("są availabedates");
            Console.WriteLine(availableDate.AvailableHours.Count);
            <div style="display: flex; overflow: auto; white-space: nowrap;">
                @foreach (var availableHour in availableDate.AvailableHours)
                {
                    <button type="button" class="btn btn-outline-primary" @onclick="() => SelectHour(availableHour.Hour)">
                        @availableHour.Hour.Hour
                    </button>
                }
            </div>

            @if (availableDate.AvailableHours.Any() && availableDate.AvailableHours.Count > visibleHours)
            {
                <button type="button" class="btn btn-link" @onclick="() => ScrollHours()">
                    Show more hours
                </button>
            }
        }
    }
    else
    {
        <p>No available hours for @selectedDate</p>
    }
    <!-- TODO: Sending as a form and updating the scheduler for the employee (create scheduler) -->
}

@code {
    [Parameter]
    public Guid ServiceId { get; set; }
    [Parameter]
    public Guid EmployeeId { get; set; }

    DateTime? selectedDate = DateTime.Now.Date;
    IList<AvailableDateDto> availableDates = new List<AvailableDateDto>();
    DateTime? selectedDateHour;
    private int visibleHours = 5; // Initial number of visible hours

    protected override async Task OnInitializedAsync()
    {
        await LoadAvailableDates();
    }

    private void OnDateRender(Radzen.DateRenderEventArgs args)
    {
        args.Disabled = !availableDates.Any(ad =>
            ad.DayOfWeek == args.Date.DayOfWeek && ad.IsOpen && args.Date >= DateTime.Now.Date);
    }

    private async Task LoadAvailableDates()
    {
        availableDates = await ServiceApiService.GetAvailableDates(EmployeeId);
    }

    private void SelectHour(DateTime selectedHour)
    {
        selectedDateHour = selectedHour;
        // Handle the selected hour
        // For example: selectedDateHour = selectedHour;
    }

    private void ScrollHours()
    {
        // Increase the number of visible hours
        visibleHours += 5; // You can adjust this based on your preference
        StateHasChanged(); // Trigger a re-render to update the UI with the new set of visible hours
    }
}
