@page "/availability/{ServiceId:guid}/{EmployeeId:guid}"
@using Bulldog.Core.Domain
@using Bulldog.Infrastructure.Services.DTO
@using BulldogApiFrontend.Services
@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt
@inject IServiceApiService ServiceApiService
@inject IAuthenticationService AuthenticationService
@inject HttpClient httpClient
<MudDialog>
    <DialogContent>
<div class="rz-p-12 rz-text-align-center">
    <RadzenDatePicker @bind-Value=@selectedDate Inline="true" DateRender="OnDateRender" Change="() => OnDateSelected(selectedDate.Value)" />
</div>
@if (selectedDate != null)
{
    <h3>Available Hours for @selectedDate.Value.Date.ToString("dd.MM.yyyy")</h3>
    <div>
        @if (selectedDateHour != null)
        {
            <span>Selected Hour: @selectedDateHour.Value.ToString("HH:mm")</span>
        }
    </div>
    @if (availableDates.Any(ad => ad.DayOfWeek == selectedDate.Value.DayOfWeek))
    {
        var availableDate = availableDates
            .Where(ad => ad.DayOfWeek == selectedDate.Value.DayOfWeek)
            .FirstOrDefault();

        if (availableDate != null)
        {

            <div style="display: flex; overflow: auto; white-space: nowrap;">
                @foreach (var availableHour in availableHoursForDay)
                {
                    if (availableHour.IsAvailable)
                    {
                        <button type="button" class="btn btn-outline-primary" @onclick="() => SelectHour(availableHour.Hour)">
                            @availableHour.Hour.ToString("HH:mm")
                        </button>
                    }
                }
            </div>

            <button class="btn btn-primary" @onclick="PostReservation">Dalej</button>
        }
    }
    else
    {
        <p>No available hours for @selectedDate</p>
    }
    <!-- TODO: Sending as a form and updating the scheduler for the employee (create scheduler) -->
}
    </DialogContent>
</MudDialog>

@code {
    [Parameter]
    public Guid ServiceId { get; set; }
    [Parameter]
    public Guid EmployeeId { get; set; }

    DateTime? selectedDate = DateTime.Now.Date;
    IList<AvailableDateDto> availableDates = new List<AvailableDateDto>();
    DateTime? selectedDateHour;
    IList<AvailableHour> availableHoursForDay = new List<AvailableHour>();
    IList<AvailableHour> allAvailableHours = new List<AvailableHour>();
    private int visibleHours = 5; // Initial number of visible hours
    private string UserId;
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private ServiceDto service;

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    protected override async Task OnInitializedAsync()
    {
        await LoadService(ServiceId);
        await LoadAvailableDates();
        await LoadAvailableHours();
        if (selectedDate.HasValue)
        {
            var availableDays = availableDates.Where(x => x.IsOpen).ToList();
            foreach (var availableDay in availableDays)
            {
                if (availableDay.DayOfWeek == selectedDate.Value.DayOfWeek)
                {
                    await LoadAvailableHoursForDay(selectedDate.Value);
                }
            }
        }

        var jwtToken = await AuthenticationService.GetJwtAsync();
        if (!string.IsNullOrEmpty(jwtToken))
        {
            UserId = GetIdFromToken(jwtToken);
        }

    }

    private async Task LoadService(Guid serviceId)
    {
        service = await ServiceApiService.GetServiceById(ServiceId);
    }

    private string GetIdFromToken(string token)
    {
        var jwt = new JwtSecurityToken(token);
        return jwt.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value;
    }

    private void OnDateRender(Radzen.DateRenderEventArgs args)
    {
        args.Disabled = !availableDates.Any(ad =>
            ad.DayOfWeek == args.Date.DayOfWeek && ad.IsOpen && args.Date >= DateTime.Now.Date) || !allAvailableHours.Any(x => x.Hour.Date == args.Date);
    }

    private async Task LoadAvailableDates()
    {
        availableDates = await ServiceApiService.GetAvailableDates(EmployeeId);
    }

    private async Task LoadAvailableHoursForDay(DateTime date)
    {
        availableHoursForDay = await ServiceApiService.GetAvailableHoursForDay(EmployeeId, date);
    }

    private async Task LoadAvailableHours()
    {
        allAvailableHours = await ServiceApiService.GetAllAvailableHours(EmployeeId);
    }

    private void SelectHour(DateTime selectedHour)
    {
        selectedDateHour = selectedHour;
    }

    private void PostReservation()
    {
        try
        {
            if (selectedDateHour.HasValue)
            {
                var finishDate = selectedDateHour.Value + TimeSpan.FromMinutes(service.Duration);
                Reservation reservation = new Reservation(UserId, ServiceId, service.Name, EmployeeId, selectedDateHour.Value, finishDate);
                ServiceApiService.AddReservation(reservation);

                UpdateAvailableHours updateAvailableHours = new UpdateAvailableHours
                    {
                        SelectedHour = selectedDateHour.Value,
                        Duration = service.Duration,
                    };
                ServiceApiService.UpdateAvailabileHours(EmployeeId, updateAvailableHours);
            }
            else
            {
                // Handle the case where selectedDateHour is null
                Console.WriteLine("Selected hour is not valid.");
            }
        }
        catch (Exception Ex)
        {
            Console.WriteLine(Ex.Message);
        }
    }

    private void ScrollHours()
    {
        // Increase the number of visible hours
        visibleHours += 5; // You can adjust this based on your preference
        StateHasChanged(); // Trigger a re-render to update the UI with the new set of visible hours
    }

    private async Task OnDateSelected(DateTime? newSelectedDate)
    {
        if (newSelectedDate.HasValue)
        {
            selectedDate = newSelectedDate.Value;
            await LoadAvailableHoursForDay(selectedDate.Value);
            StateHasChanged();
        }
    }

}

