@page "/Schedule/{EmployeeId:guid}"
@using Bulldog.Infrastructure.Services.DTO
@using BulldogApiFrontend.Services
@inject IServiceApiService ServiceApiService
<h3>EmployeeProfile</h3>

<RadzenScheduler Data="@availableDates" TItem="AvailableDateDto" StartProperty="StartTime" EndProperty="EndTime" TextProperty="Title"
                 SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect>
</RadzenScheduler>

@code {
    [Parameter]
    public Guid EmployeeId { get; set; }
    IList<AvailableDateDto> availableDates = new List<AvailableDateDto>();
    protected override async Task OnInitializedAsync()
    {
        await LoadAvailableDates();
    }

    private async Task LoadAvailableDates()
    {

        availableDates = await ServiceApiService.GetAvailableDates(EmployeeId);

        // Jeśli istnieją dostępne daty, ustaw domyślną wartość na najwcześniejszą datę
    }

    private async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        if(args.View.Text != "Year")
        {

        }
    }

    private async Task OnAppointmentSelect()
    {
        
    }
}
